html, body, *{
  margin: 0px;
  padding:0px;
}

body {
background-color:#0B2254;

}
#powered_by{
  background-color: #484848;
  opacity: 0;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
    transition-duration: 1s;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  user-select: none;
  padding:20px;
  margin-top: 80px;
  margin:80px 50px;
}

#powered_by p{
  color:white;
  margin-top:40px;
}

body.loaded #powered_by{
    opacity: 1;
}

#powered_by h2{
  display:inline;
  color:white;
}
#powered_by img{
 max-width: 300px;
 height:auto;
 display:inline;
 margin-left:20px;

}
h2{
  font-family: 'Montserrat', sans-serif;
  color:white;
}
.menus{
  text-align:center;
  margin-top: 150px;
  user-select: none;
}
.menus a{
  text-decoration: none;
  padding:20px;
  font-family: 'Montserrat', sans-serif;
  background-color: grey;
  margin:12px;
  color:white;
  border-radius: 3px;
  display:inline-block;
  transition-duration: 0.25s;
}

.menus a img{
  margin-top:25px;
  width:120px;
  height:auto;
}

.menus a:hover{
  transform: scale(1.1);
  background-color: #484848;
}

